@model MyClass.Models.User

@{
    ViewBag.Title = "Chi tiết khách hàng";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<!-- Main content -->
<section class="content my-2">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6 text-danger">
                    <strong>CHI TIẾT KHÁCH HÀNG</strong>
                </div>
                <div class="col-md-6 text-right">
                    <a href="@Url.Action("Edit","User", new { id = Model.Id })" class="btn btn-sm btn-success"><i class="fas fa-edit"></i>Cập nhật</a>
                    <a href="@Url.Action("Index", "User")" class="btn btn-sm btn-info"><i class="fas fa-long-arrow-alt-left"></i>Về danh sách</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <tr>
                    <th class="text-primary" style="width:120px">Tên trường</th>
                    <th class="text-primary">Nội dung</th>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.FullName)</td>
                    <td>@Html.DisplayFor(model => model.FullName)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Email)</td>
                    <td>@Html.DisplayFor(model => model.Email)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Phone)</td>
                    <td>@Html.DisplayFor(model => model.Phone)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Address)</td>
                    <td>@Html.DisplayFor(model => model.Address)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.UserName)</td>
                    <td>@Html.DisplayFor(model => model.UserName)</td>
                </tr>
                <tr>
                    <td> @Html.DisplayNameFor(model => model.Password)</td>
                    <td>@Html.DisplayFor(model => model.Password)</td>
                </tr>
                <tr>
                    <td> @Html.DisplayNameFor(model => model.Roles)</td>
                    <td>@Html.DisplayFor(model => model.Roles)</td>
                </tr>
                <tr>
                    <td> @Html.DisplayNameFor(model => model.CreatedBy)</td>
                    <td>@Html.DisplayFor(model => model.CreatedBy)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.CreatedAt)</td>
                    <td>@Html.DisplayFor(model => model.CreatedAt)</td>
                </tr>
                <tr>
                    <td> @Html.DisplayNameFor(model => model.UpdateBy)</td>
                    <td>@Html.DisplayFor(model => model.UpdateBy)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.UpdateAt)</td>
                    <td>@Html.DisplayFor(model => model.UpdateAt)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Status)</td>
                    <td>@Html.DisplayFor(model => model.Status)</td>
                </tr>
            </table>
        </div>
    </div>
    <!-- /.card -->

</section>
