@model IEnumerable<MyClass.Models.Category>
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
<section>
    <div class="container ">
    @Html.Action("Slideshow", "Module")
        </div>
</section>


<section class="maincontent clearfix">
    <div class="container my-3">
        <div class="row">
            <div class="col-md-3 col-lg-3 text-white py-3">
                <div class="sidebar">
                    @Html.Action("ListCategory", "Module")
                    @Html.Action("PostLastNew", "Module")
                </div>
            </div>
                <div class=" col-md-9 col-lg-9">
                    <div class="category-title position-relative py-2">
                        <h4 class=" text-uppercase text-primary">SẢN PHẨM MỚI</h4>
                        <a class="float-end position-absolute top-0 end-0 py-2 text-decoration-none" href="#">Xem tất cả</a>
                        <div class="row">
                            @foreach (var product in ViewBag.ProductNew)
                            {
                                <div class="col-md-3 text-center card">
                                    <a href="@product.Slug">
                                        <img src="~/Public/images/Products/@product.Img" class="img-fluid " alt="...">
                                    </a>
                                    <div class=" card-body">
                                        <h6> <a href="@product.Slug" class="text-decoration-none text-black">  @product.Name </a></h6>
                                        <span class='text-decoration-line-through'>@string.Format("{0:0,0}", product.Price)<sup>đ</sup></span>
                                        <span class='fw-bold fs-5 text-danger'>@string.Format("{0:0,0}", product.PriceSale)<sup>đ</sup></span>
                                        <a href="@Url.Action("CartAdd","Giohang",new {productid=product.Id })" class="btn btn-sm btn-info text-light"><i class="fas fa-shopping-basket"></i> Giỏ hàng</a>
                                    </div>
                                </div>

                            }
                        </div>
                    </div>
                    @foreach (var category in Model)
                    {
                        @Html.Action("HomeProduct", "Site", new { id = category.Id })

                    }

                </div>
            </div>
        </div>
</section>

