@model MyClass.Models.Product
@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

<section class="maincontent clearfix">
    <div class="container my-3">
        <div class="row product-info">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <img src="~/Public/images/Products/@Model.Img" class="card-img-top img-fluid" style="width:250px" alt="...">
            </div>
            <div class="col-md-6">
                <h4 class="product-title text-primary">@Model.Name</h4>

                <h5>Giá gốc:   <span class='text-decoration-line-through fw-bold fs-5 '>@string.Format("{0:0,0}", Model.Price)<sup>đ</sup></span></h5>
                <h5> Giá khuyến mãi: <span class='fw-bold fs-5 text-danger'>@string.Format("{0:0,0}", Model.PriceSale)<sup>đ</sup></span></h5>
                <div class="row product-detail ">
                    <h5><strong><u>Chi tiết sản phẩm:</u></strong></h5>
                    <p>@Html.Raw(HttpUtility.HtmlDecode(Model.Detail))</p>

                </div>

            </div>

        </div>
        <div class="row product-detail ">
            <h5><strong><u>Mô tả:</u></strong></h5>
            <p>@Html.Raw(HttpUtility.HtmlDecode(Model.MetaDesc))</p>
        </div>
        <div class="row product-detail ">
            <h5><strong>SẢN PHẨM CÙNG LOẠI</strong></h5>

            @foreach (var product in ViewBag.ListOther)
            {
                <div class="col-md-2 text-center card">
                    <a href="@product.Slug">
                        <img src="~/Public/images/Products/@product.Img" style="width:70px;" class="img-fluid " alt="...">
                    </a>
                    <div class=" card-body">
                        <h6> <a href="@product.Slug" class="text-decoration-none text-black"> @product.Name </a></h6>
                        <span class='text-decoration-line-through'>@string.Format("{0:0,0}", product.Price)<sup>đ</sup></span>
                        <span class='fw-bold  text-danger'>@string.Format("{0:0,0}", product.PriceSale)<sup>đ</sup></span>
                        <a href="@Url.Action("CartAdd","Giohang",new {productid=product.Id })" class="btn btn-sm btn-info"><i class="fas fa-shopping-basket"></i> Giỏ hàng</a>
                    </div>
                </div>
                <div class=" col-md-1"></div>
                    }

                </div>

            </div>
</section>

